@import '../../resources/scss/_colors';
@import '../../resources/scss/_variables';
@import '../../Functions/scssFunctions.scss';
.error-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}