// Base Colors
$white: #FFF;
$black: #000;
$gray: #666666;
$mediumGray: #9E9E9E;
$darkGray: #8A8A8A;
$lightGray: #F5F5F5;
$smokedWhite: #DFDFDF;
// Brand Colors
$gradient-green: #64E275;
$gradient-blue: #11B6BC;
$gradient-dark-blue: #1776B1;

// Gradients
$beautyGreen: linear-gradient(93deg, #64E275 -19.22%, #11B6BC 48.12%, #1776B1 115.47%);
$cta-gradient: linear-gradient(95deg, $gradient-green -30.35%, $gradient-blue 27.45%, $gradient-dark-blue 146.5%);
$backgroundGreen: linear-gradient(62deg, #64E275 -0.02%, #11B6BC 53.63%, #1776B1 85.33%);
$iac-text-gradient: linear-gradient(89deg, rgba(100, 226, 117, 0.33) -16.18%, rgba(17, 182, 188, 0.33) 41.2%, rgba(23, 118, 177, 0.33) 98.58%);
$iac-button-green: #64E275;