// Base Colors
$white: #FFF;
$black: #000;
$gray: #666666;

// Brand Colors
$gradient-green: #64E275;
$gradient-blue: #11B6BC;
$gradient-dark-blue: #1776B1;

// Gradients
$cta-gradient: linear-gradient(95deg, $gradient-green -30.35%, $gradient-blue 27.45%, $gradient-dark-blue 146.5%);