// Main styles
@import 'navbar-components';
@import 'footer';
@import 'footer/upper-footer';
@import 'footer/bottom-footer';
@import 'footer/desktop-footer';

body {
  font-family: "Space Grotesk", sans-serif;

}

#main {
  display: flex;

}

html {
  box-sizing: border-box;
}

