@import 'colors';

// Typography
$font-family: "Space Grotesk";

// Dimensions (rem units)
$navbar-height-mobile: 4.5rem; // 72px
$navbar-z-index: 1000;

// Screen Dimensions (rem units)



// Spacing (rem units)
$gap-large: 4.9375rem; // 79px
$gap-medium: 1.875rem; // 30px
$gap-small: 1.25rem; // 20px
$gap-extra-small: 0.9375rem; // 15px
$gap-tiny: 0.625rem; // 10px

// Footer specific spacing
$footer-padding-mobile: 1.25rem; // 20px

$footer-margin-top-mobile: 3.125rem; // 50px
$footer-max-width: 75rem; // 1200px

// Breakpoints (still in px as required for media queries)
$mobile: 768px;