# Ignore everything by default
*

# But allow wp-content/themes/practice-theme and all its contents
!wp-content/
!wp-content/themes/
!wp-content/themes/practice-theme/
!wp-content/themes/practice-theme/**

# Except for the following directories inside the theme
wp-content/themes/practice-theme/node_modules/
wp-content/themes/practice-theme/node_modules/**

wp-content/themes/practice-theme/dist/
wp-content/themes/practice-theme/dist/**
